#top_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile_options_container {
    display: flex;
    flex-direction: column;

    padding: 5px;
}

#picture_preview {
    width: 200px;
    height: 200px;

    align-self: center;
}

.profile_option {
    display: flex;
    flex-direction: column;

    margin-top: 15px;
}

.profile_option label {
    color: var(--text-color-2);
    font-size: 0.9em;
}