#settings_container {
    padding: 5px;
}

#add_relay {
    display: flex;
    align-items: center;
}

#relays {
    width: 100%;

    overflow: hidden;
}

.relay {
    width: 100%;

    display: flex;
    justify-content: space-between;
}

#keys {
    width: fit-content;

    display: flex;
    flex-direction: column;
}