:root {
    --background-color: #0d1117;
    --offset-color: #171b21;
    --border-color: #dee0e2;
    --text-color: #b9bbbd;
    --accent-color: #6997c5;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;

    background-color: var(--background-color);
    color: var(--text-color);
}

input.text,
input.button {
    margin: 0;
    padding: 5px;

    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--text-color);
    outline: none;
}

input.text:focus,
input.button:hover {
    background-color: var(--offset-color);
}

input.button:hover {
    cursor: pointer;
}

input.button:active {
    transform: scale(0.95);
}

#custom_confirm_container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000075;
}

#custom_confirm {
    margin: 5px;
    padding: 20px;
    background-color: var(--offset-color);
    border: 1px solid var(--accent-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#custom_confirm_input_container {
    display: flex;
    justify-content: center;
}

#custom_confirm input {
    margin: 0 5px 0 5px;
    min-width: 80px;
}

#custom_alert_container {
    position: fixed;
    top: 10px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 2s;
}

#custom_alert {
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--offset-color);
}

#custom_alert_container.remove {
    top: -999px;
}
