main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 200px;
    padding: 10px 0 0 0;
}

#account_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#account_container > * {
    margin-bottom: 5px;
}

#relay_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15% 0 15%;
}
